body{
    background-color: silver;
    margin: 0;
    padding: 0;
}
#container{
    background-color: white;
    width: 80%;
    margin: 0 auto;
    padding: 15px;
}

header{
    background-color: slategray;
    color: white;
    text-align: center;
    padding: 30px;
}

footer{
    background-color: black;
    color: white;
    letter-spacing: 3px;
    text-align: center;
    font-size: 70%;
    padding: 6px;
}

nav{
    background-color: burlywood;
    color: white;
    padding: 6px;
}

#leftside{
    width: 25%;
    background-color: yellow;
    padding: 6px;
}

#center{
    width: 50%;
    padding: 6px;
    background-color: lightcoral;
}

#rightside{
    width: 25%;
    padding: 6px;
    background-color: aqua;
}

#content{
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 150px;
    width: 100%;

}

@media screen and (max-width: 800px){
    #content{
        display: block;
        
    }
    #leftside, #center, #rightside {
        width: 100%;
    }
    #center{
        flex-grow: 1;
    }
    #rightside{
        display: none;
    }
}


.menu{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu li{
    display: inline-block;
    border-right: 1px solid black;
}



.menu li a{
    display: block;
    color: white;
    padding: 5px 20px;
    text-decoration: none;
    cursor: pointer;
}

.menu li a:hover{
    background-color: black;
    color: white;
}

.menu li:last-child{
    border-bottom: none;
}
